<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<title><<TITLE>></title>
<<JAVASCRIPT>>
<link rel="stylesheet" type="text/css" href="postldapadmin.css">
</head>
<body topmargin="0" leftmargin="0">
<div class="title"></div>
<div class="topic">&nbsp;</div>
<div class="message"><<MESSAGE>></div>
<div class="frame">
  <form method="post" action="index.php" name="acc_mod_mf">
    <center>
    <table class="login">
      <tr>
        <td class="key1">ユーザ名</td>
        <td class="login">
        <input type="text" size=26 name="admin">
        </td>
      </tr>
      <tr>
        <td class="key1">パスワード</td>
        <td class="login">
        <input type="password" name="passwd">
        </td>
      </tr>
    </table>
    <br>
    <input type="submit" value="" name="login" class="login_btn">
    </center>
  </form>
</div>
<form method="post" name="common">
  <input type="hidden" name="sk" value="">
</form>
<div class="footer"></div>
</body>
</html>
