<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Content-Type" content="text/html; charset=EUC-JP">
<title><<TITLE>></title>
<<JAVASCRIPT>>
<link rel="stylesheet" type="text/css" href="../../postldapadmin.css">
</head>
<body topmargin="0" leftmargin="0">
<div class="title">
  <form method="post" action="../../logout.php">
    <<SK>>
    <input type="submit" value="" name="logout" class="logout_btn">
  </form>
</div>
<div class="topic"><<TOPIC>></div>
<div class="message"><<MESSAGE>></div>
<<TAB>>
<div class="frame">
  <form method="POST" action="index.php" name="mod_form">
    <table class="table">
      <tr>
        <td class="key1">ユーザ名</td>
        <td class="value"><<UID>></td>
      </tr>
      <tr>
        <td class="key1">パスワード</td>
        <td class="value">
        <input type="password" name="passwd1" size="15" maxlength="<<MAXPASSLEN>>">
        </td>
      </tr>
      <tr>
        <td class="key1">パスワード(確認)</td>
        <td class="value">
        <input type="password" name="passwd2" size="15" maxlength="<<MAXPASSLEN>>">
        </td>
      </tr>
<<FORWARD_START>>
      <tr>
        <td class="key1">メール転送アドレス</td>
        <td class="value">
        <input type="text" name="trans" size="39" value="<<TRANSFERADDR>>" maxlength="256" onBlur="check(this.value)">
        <br>
        サーバにメールを
        <input type="radio" name="save" value="0" <<SAVEMAILENABLED>> disabled>残す
        <input type="radio" name="save" value="1" <<SAVEMAILDISABLED>> disabled>残さない<br>
        </td>
      </tr>
<<FORWARD_END>>
    </table>
    <br>
    <input type="submit" name="modify" value="" class="mod_btn">
    <<SK>>
  </form>
</div>
<form method="post" name="common">
  <<SK>>
</form>
<div class="footer"></div>
</body>
</html>
