[global]
TitleName=postLDAPadmin
ReferrerUrl=http://
AdminName=admin
AdminPasswd=21232f297a57a5a743894a0e4a801fc3
LogFile=syslog
SyslogFacility=local1
SessionTimeout=900
MaxPasswordLength=8
MinPasswordLength=3
PasswordEncrypt=CRYPT

[postldapadmin]
LdapServer=127.0.0.1
LdapPort=389
LdapBindDn=cn=Manager,dc=designet,dc=jp
LdapBindPw=secret
LdapBaseDn=dc=test,dc=designet,dc=jp
DiskQuotaDefault=100
BaseMailDir=/home/mail/test.designet.jp
LinePerPage=5
MailDelcommand=sudo -u vmail /usr/local/bin/deluser
LdapUserSuffix=ou=User
LdapListSuffix=ou=List
LdapScope=sub
LdapFilter=(uid=%u)
LdapMlFilter=(mail=*)
LdapObjectClass=account
DisplayUser=uid
DisplayMl=mail
quotaunit=KB
quotasize=3
LocalPartRFCCheck=0
ForwardConf=0
ForwardNum=3
ForwardFirstMatch=0
