<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
<!-- ヘッダー  -->
<header>
  <!-- メニューリンク  -->
  <nav class="header-nav">
    <div id="gmenu" class="navbar">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <ul class="navbar-nav">
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../logout.php')" class="nav-link">ログアウト</a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar-hum">
    <input type="checkbox" id="menu-toggle" class="navbar-hum-toggle">
    <div class="navbar-hum-image">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <label for="menu-toggle" class="navbar-hum-icon">
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
      </label>
    </div>
    <div class="nabvar-hum-menu">
      <ul>
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><span class="nav-icon"></span><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../logout.php')" class="nav-link"><span class="nav-icon"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- 全体 -->
<div class="auth-container">
<div class="auth-form">
  <h3 class="auth-title">パスワード変更</h3>
  <form class="auth-content" method="POST" action="index.php">
    <div class="ErrorMessage"><<MESSAGE>></div>
    <div class="auth-group">
      <div class="auth-input">
        <label for="user">パスワード</label>
        <input type="password" id="user" size="26" name="newpasswd">
      </div>
      <div class="auth-input">
        <label for="user">パスワード(確認)</label>
        <input type="password" id="user" placeholder="" name="re_newpasswd">
      </div>
    </div>
    <!-- ボタン -->
    <button type="submit" value="" name="update">更新</button>
    <<SK>>
  </form>
</div>
</div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>
</html>
