<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>


<!-- ヘッダー  -->
<header>
  <!-- メニューリンク  -->
  <nav class="header-nav">
    <div id="gmenu" class="navbar">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <ul class="navbar-nav">
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../../logout.php')" class="nav-link">ログアウト</a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar-hum">
    <input type="checkbox" id="menu-toggle" class="navbar-hum-toggle">
    <div class="navbar-hum-image">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <label for="menu-toggle" class="navbar-hum-icon">
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
      </label>
    </div>
    <div class="nabvar-hum-menu">
      <ul>
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><span class="nav-icon"></span><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../../logout.php')" class="nav-link"><span class="nav-icon"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- フッター下のサイドメニューとコンテンツ  -->
<div class="main">
  <!-- サイドメニュー  -->
  <nav class="left-nav">
    <ul class="left-menu">
      <<START_MENU>>
        <li class="left-menu-item <<ACTIVE>>">
          <a href="#" class="nav-link" onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
        </li>
      <<END_MENU>>
    </ul>
  </nav>

  <!-- メインコンテンツ  -->
  <main class="contents">
    <div class="contents-title">
      <span>アカウント追加</span>
    </div>
    <form method="POST" action="index.php" name="data_form">
      <div class="ErrorMessage"><<MESSAGE>></div>
      <div class="form-container">
        <div class="form-group">
          <label class="form-label" for="user">ユーザID</label>
          <input class="form-input form-text" type="text" id="user" size="35" name="uid" maxlength="32" value="<<UID>>">
        </div>
        <div class="form-group">
          <label class="form-label" for="user" >パスワード</label>
          <input class="form-input form-text" type="password" id="user" placeholder="" name="pass" size="15">
        </div>
        <div class="form-group">
          <label class="form-label" for="user">パスワード再入力</label>
          <input class="form-input form-text" type="password" id="user" placeholder="" name="re_pass" size="15">
        </div>
        <div class="form-group">
          <label class="form-label" for="user">メールボックス容量(<<QUOTAUNIT>>)</label>
          <input class="form-input form-text" type="text" id="user" placeholder="" value="<<QUOTA>>" name="quota" maxlength="<<QUOTASIZE>>">
        </div>
        <div class="form-group">
          <label class="form-label" for="user">メールエイリアス</label>
          <input class="form-input form-text" type="text" id="user" placeholder="" name="alias" value="<<ALIAS>>" maxlength="32">
        </div>
        <<FORWARD_START>>               
        <div class="form-group">
          <label class="form-label" for="user">メール転送アドレス</label>
          <input class="form-input form-text" type="text" id="user" placeholder="" name="trans" value="<<TRANS>>" maxlength="256" onBlur="check(this.value)">
        </div>
        <div class="form-group">
          <label class="form-label">転送時のメール保存</label>
          <div class="form-input form-radio">
            <label><input type="radio" name="save" value="0" <<SAVEON>>>保存する</label>
            <label><input type="radio" name="save" value="1" <<SAVEOFF>>>保存しない</label>
          </div>
        </div>
        <<FORWARD_END>>
      </div>

      <<SK>>
      <!-- ボタン -->
      <div class="form-button">
        <button type="submit" name="add">登録</button>
        <button type="submit" name="cancel">戻る</button>
      </div>
    </form>
  </main>
</div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <<SK>>
</form>
</body>
</html>
