<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>

<!-- ヘッダー  -->
<header>
  <!-- メニューリンク  -->
  <nav class="header-nav">
    <div id="gmenu" class="navbar">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <ul class="navbar-nav">
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../../logout.php')" class="nav-link">ログアウト</a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar-hum">
    <input type="checkbox" id="menu-toggle" class="navbar-hum-toggle">
    <div class="navbar-hum-image">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <label for="menu-toggle" class="navbar-hum-icon">
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
      </label>
    </div>
    <div class="nabvar-hum-menu">
      <ul>
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><span class="nav-icon"></span><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../../logout.php')" class="nav-link"><span class="nav-icon"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- フッター下のサイドメニューとコンテンツ  -->
<div class="main">
  <!-- サイドメニュー  -->
  <nav class="left-nav">
    <ul class="left-menu">
      <<START_MENU>>
        <li class="left-menu-item <<ACTIVE>>">
          <a href="#" class="nav-link" onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
        </li>
      <<END_MENU>>
    </ul>
  </nav>

  <!-- メインコンテンツ  -->
  <main class="contents">
    <div class="contents-title">
      <span>ユーザの検索</span>
    </div>
    <form method="POST" action="index.php" name="form_main">
      <div class="ErrorMessage"><<MESSAGE>></div>
      <div class="form-container">
        <div class="form-group">
          <label class="form-label" for="user">ユーザID</label>
          <input class="form-input form-text" type="text" id="user" size="30" name="form_name" maxlength="256" value="<<SEARCH_UID>>">
          <select class="form-select" name="name_match">
            <option value="0" <<INCLUDE_ON>>>を含む</option>
            <option value="1" <<MATCH_ON>>>と一致する</option>
          </select>
        </div>
        <<SK>>

        <div class="form-button">
          <button type="submit" name="search" value="" class="btn btn-primary">検索</button>
          <button type="submit" name="csvdownload" value="">CSVダウンロード</button>
        </div>
        <<HIDDEN>>
        <div class="form-table">
          <div class="table-title">
            <span>[全 <<NUM>> 件]</span>
            <div class="pagelink">
              <span><<PRE>></span>
              <span><<NEXT>></span>
            </div>
          </div>
          <table>
            <tr>
              <td class="table-col">ユーザ名</td>
              <td class="table-col">メールエイリアス</td>
              <td class="table-col">メール転送アドレス</td>
              <td class="table-col">メール容量</td>
              <td class="table-col"></td>
<<FORWARD_START>>
              <td class="table-col">転送設定</td>
<<FORWARD_END>>
              <td class="table-col"></td>
            </tr>
<<STARTLOOP>>
            <tr>
              <td class="table-col"><<UID>></td>
              <td class="table-col"><<ALIAS>></td>
              <td class="table-col"><<TRANS>></td>
              <td class="table-col"><<QUOTA>></td>
              <td class="table-col"><<MOD>></td>
<<FORWARD_START>>
              <td class="table-col"><<FORWARD>></td>
<<FORWARD_END>>
            </tr>
<<ENDLOOP>>
          </table>
        </div>
      </div>
    </form>
  </main>
</div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>
</html>
