<!DOCTYPE html>
<html  class="has-navbar-fixed-buttom" lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>

<!-- ヘッダー  -->
<header>
  <!-- メニューリンク  -->
  <nav class="header-nav">
    <div id="gmenu" class="navbar">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <ul class="navbar-nav">
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../../logout.php')" class="nav-link">ログアウト</a></li>
      </ul>
    </div>
  </nav>
  <nav class="navbar-hum">
    <input type="checkbox" id="menu-toggle" class="navbar-hum-toggle">
    <div class="navbar-hum-image">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <label for="menu-toggle" class="navbar-hum-icon">
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
      </label>
    </div>
    <div class="nabvar-hum-menu">
      <ul>
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><span class="nav-icon"></span><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../../logout.php')" class="nav-link"><span class="nav-icon"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- フッター下のサイドメニューとコンテンツ  -->
<div class="main">
  <!-- サイドメニュー  -->
  <nav class="left-nav">
    <ul class="left-menu">
      <<START_MENU>>
        <li class="left-menu-item <<ACTIVE>>">
          <a href="#" class="nav-link" onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
        </li>
      <<END_MENU>>
    </ul>
  </nav>

  <!-- メインコンテンツ -->
  <div class="contents">
    <div class="contents-title">
      <span>CSV一括登録</span>
    </div>
    <!-- フォーム -->
    <form method="POST" action="result.php" enctype="multipart/form-data" name="form">
      <div class="ErrorMessage"><<MESSAGE>></div>
        <div class="form-container">
          <div class="form-group">
            <label class="form-label">動作タイプ</label>
              <div class="form-input form-radio">
                <label><input type="radio" name="runtype" value="add">登録</label>
                <label><input type="radio" name="runtype" value="del">削除</label>
              </div>
          </div>
          <div class="form-group">
            <label class="form-label">オプション</label>
              <div class="form-input form-radio">
                <label><input type="checkbox" name="change" value=ON>既存のデータを上書き（削除の場合は無視されます）</label>
                <label><input type="checkbox" name="err" value=ON>エラーの場合も処理を継続</label>
            </div>
          </div>
          <div class="form-group">
            <label class="form-label">アップロードファイル</label>
            <input class="form-input" type="file" name="uploadfile" size=50>
          </div>
          <div class="form-group">
            <label class="form-label">ファイルチェック</label>
            <button class="form-input file-check-button" type="submit" name="fcheck" value="" onClick="resultwindow()">ファイルチェック開始</button>
          </div>
          <<SK>>
          <!-- ボタン -->
          <button type="submit" name="upload" value="" onClick="return uploadconfirm('CSV一括処理を開始しますか\nよろしいですか?')">更新</button>
        </div>
      </div>
    </form>
  </div>
</div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>

</html>
