<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../../css/bootstrap/css/bootstrap-paper.css">
  <script src="../../../../js/jquery-3.1.1.min.js"></script>
  <script src="../../../../js/jquery-ui.min.js"></script>
  <script src="../../../../css/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>
<header class="">
  <nav class="navbar navbar-default navmargin">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"></div>
    </div>


    <div id="gmenu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right ">
<<START_TAB>>
<li class="<<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><<NAME>></a></li>
<<END_TAB>>
<li class=""><a href="#" onClick="dgpSubmit('../../../logout.php')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid fix-padding">
  </div>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2 col-sm-offset-1">
      <div class="panel panel-default">
        <ul class="list-group">
<<START_MENU>>
<a class="list-group-item  <<ACTIVE>>" href="#"	onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
<<END_MENU>>
        </ul>
      </div>
    </nav>

    <!-- 右グリッド  -->
    <div class="col-sm-8">
      <!-- エラーメッセージ -->

      <!-- メインコンテンツ -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">ユーザの検索</h3>
        </div>
        <div class="ErrorMessage"></div>
        <div class="row panel-body">
          <!-- フォーム -->
          <div class="col-sm-10 col-sm-offset-1">
            <form class="form-horizontal" method="POST" action="index.php" name="form_main">
           
 <div class="form-group well">

<<MESSAGE>>
                <div class="form-group">

                  <label for="user" class="col-sm-2 control-label">ユーザID</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" id="user" size="30" name="form_name" maxlength="256" value="<<SEARCH_UID>>">
                  </div>
                  <div class="col-sm-2">
                    <select name="name_match">
                    <option value="0" <<INCLUDE_ON>>>を含む</option>
                    <option value="1" <<MATCH_ON>>>と一致する</option>
                    </select>
                  </div>
                </div>

<div>
<<SK>>
    <button type="submit" name="search" value="" class="btn btn-primary">検索</button>
    <button type="submit" name="csvdownload" value="" class="btn btn-primary">CSVダウンロード</button>
    <<HIDDEN>>
</div>

     <table class="table">
       <tr>
         <td class="search_sum">[全 <<NUM>> 件]</td>
         <td colspan="5" class="search_tmp" style="border:1px ;">
         <table class="guide" align="right">
           <tr>
             <td class="search_prev"><<PRE>></td>
             <td class="search_next"><<NEXT>></td>
           </tr>
         </table>
         </td>
      </tr>
      <tr>
        <td class="search_name">ユーザ名</td>
        <td class="search_name">メールエイリアス</td>
        <td class="search_trans">メール転送アドレス</td>
        <td class="search_quota">メール容量</td>
        <td class="search_ref"></td>
<<FORWARD_START>>
        <td class="search_quota">転送設定</td>
<<FORWARD_END>>
      </tr>
<<STARTLOOP>>
      <tr>
        <td class="value"><<UID>></td>
        <td class="value_alias"><<ALIAS>></td>
        <td class="value_trans"><<TRANS>></td>
        <td class="value_right"><<QUOTA>></td>
        <td class="value_center"><<MOD>></td>
<<FORWARD_START>>
        <td class="value_forward"><<FORWARD>></td>
<<FORWARD_END>>
      </tr>
<<ENDLOOP>>
    </table>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer nav navbar-default">
    <nav class="pull-right">
      <div class="navbar-brand"></div>
    </nav>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>

</html>
