<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../../css/bootstrap/css/bootstrap-paper.css">
  <script src="../../../../js/jquery-3.1.1.min.js"></script>
  <script src="../../../../js/jquery-ui.min.js"></script>
  <script src="../../../../css/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>
<header class="">
  <nav class="navbar navbar-default navmargin">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"></div>
    </div>


    <div id="gmenu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right ">
<<START_TAB>>
<li class="<<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><<NAME>></a></li>
<<END_TAB>>
<li class=""><a href="#" onClick="dgpSubmit('../../../logout.php')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid fix-padding">
  </div>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2 col-sm-offset-1">
      <div class="panel panel-default">
        <ul class="list-group">
<<START_MENU>>
<a class="list-group-item  <<ACTIVE>>" href="#"	onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
<<END_MENU>>
        </ul>
      </div>
    </nav>

    <!--ass="table">右グリッド  -->
    <div class="col-sm-8">
      <!-- エラーメッセージ -->

      <!-- メインコンテンツ -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">CSV一括登録</h3>
        </div>
        <div class="ErrorMessage"></div>
        <div class="row panel-body">
          <!-- フォーム -->
          <div class="col-sm-10 col-sm-offset-1">
            <form class="form-horizontal" method="POST" action="result.php" enctype="multipart/form-data" name="form">
              <div class="form-group well">

<<MESSAGE>>
              <table class="table">
                 <tr>
                  <td class="key1">動作タイプ</td>
                  <td class="value">
                    <input type="radio" name="runtype" value="add">登録
                    <input type="radio" name="runtype" value="del">削除
                  </td>
                 </tr>
                 <tr>
                  <td class="key1" rowspan="2">オプション</td>
                  <td class="value">
                    <input type="checkbox" name="change" value=ON>既存のデータを上書き（削除の場合は無視されます）
                  </td>
                 <tr>
                  <td class="value">
                    <input type="checkbox" name="err" value=ON>エラーの場合も処理を継続
                  </td>
                 </tr>
                 <tr>
                  <td class="key1">アップロードファイル</td>
                  <td class="value"> 
                  <input type="file" name="uploadfile" size=50></td>
                 </tr>
                 <tr>
                  <td class="key1">ファイルチェック</td>
                  <td class="value"><button type="submit" name="fcheck" value="" class="file_check_btn" onClick="resultwindow()">ファイルチェック開始</button></td>
                 </tr>
              </table>

              <!-- ボタン -->
          
<<SK>>
                  <button type="submit" name="upload" value="" class="btn btn-primary" onClick="return uploadconfirm('CSV一括処理を開始しますか\nよろしいですか?')">更新</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer nav navbar-default">
    <nav class="pull-right">
      <div class="navbar-brand"></div>
    </nav>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>

</html>
