<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../../css/bootstrap/css/bootstrap-paper.css">
  <script src="../../../../js/jquery-3.1.1.min.js"></script>
  <script src="../../../../js/jquery-ui.min.js"></script>
  <script src="../../../../css/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../../../../css/style.css">
</head>

<body>
<header class="">
  <nav class="navbar navbar-default navmargin">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gmenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand"></div>
    </div>


    <div id="gmenu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right ">
<<START_TAB>>
<li class="<<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span><<NAME>></a></li>
<<END_TAB>>
<li class=""><a href="#" onClick="dgpSubmit('../../../logout.php')"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid fix-padding">
  </div>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2 col-sm-offset-1">
      <div class="panel panel-default">
        <ul class="list-group">
<<START_MENU>>
<a class="list-group-item  <<ACTIVE>>" href="#"	onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
<<END_MENU>>
        </ul>
      </div>
    </nav>

    <!-- 右グリッド  -->
    <div class="col-sm-8">
      <!-- エラーメッセージ -->

      <!-- メインコンテンツ -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">ユーザアカウント編集</h3>
        </div>
        <div class="ErrorMessage"></div>
        <div class="row panel-body">
          <!-- フォーム -->
          <div class="col-sm-10 col-sm-offset-1">
            <form class="form-horizontal" method="POST" action="mod.php" name="data_form">
              <div class="form-group well">

<<MESSAGE>>
                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">ユーザID</label>
                  <div class="col-sm-8">
                    <<UID>>
                  </div>
                </div>

                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">メールボックス容量(<<QUOTAUNIT>>)</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="user" placeholder="" value="<<QUOTA>>" name="quota" maxlength="<<QUOTASIZE>>">
                  </div>
                </div>

                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">メールエイリアス</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="user" placeholder="" name="alias" value="<<ALIAS>>" maxlength="32">
                  </div>
                </div>
<<FORWARD_START>>               
                <div class="form-group">
                  <label for="user" class="col-sm-4 control-label">メール転送アドレス</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="user" placeholder="" name="trans" value="<<TRANS>>" maxlength="256" onBlur="check(this.value)">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-4 control-label">転送時のメール保存</label>
                  <div class="col-sm-8">
                    <div class="radio">
                      <label>
                        <input type="radio" name="save" value="0" <<SAVEON>>>保存する
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input type="radio" name="save" value="1" <<SAVEOFF>>>保存しない
                      </label>
                    </div>
                  </div>
                </div>


              </div>
<<FORWARD_END>>

              <!-- ボタン -->
              <div class="form-group">
                <div class="col-sm-12">
<<SK>>
                  <button type="submit" name="modify" value="" class="btn btn-primary">更新</button>
                  <button type="submit" name="delete" value="" class="btn btn-primary" onClick="return msgConfirm('ユーザを削除します。\nよろしいですか？')">削除</button>
                  <button type="submit" name="cancel" value="" class="btn btn-primary">キャンセル</button>
                  <<HIDDEN>>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer nav navbar-default">
    <nav class="pull-right">
      <div class="navbar-brand"></div>
    </nav>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>

</html>
