<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../<<TOPDIR>>css/style.css">
</head>

<body>
<!-- ヘッダー  -->
<header>
  <!-- ロゴ画像  -->
  <div class="logo-header">
    <div class="logo-image"></div>
  </div>
</header>

<div class="InfoMessage"><<MESSAGE>></div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>
</html>
