<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
<!-- ヘッダー  -->
<header>
  <!-- メニューリンク  -->
  <nav class="header-nav">
    <div id="gmenu" class="navbar">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <ul class="navbar-nav">
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../logout.php')" class="nav-link">ログアウト</a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar-hum">
    <input type="checkbox" id="menu-toggle" class="navbar-hum-toggle">
    <div class="navbar-hum-image">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <label for="menu-toggle" class="navbar-hum-icon">
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
      </label>
    </div>
    <div class="nabvar-hum-menu">
      <ul>
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><span class="nav-icon"></span><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../logout.php')" class="nav-link"><span class="nav-icon"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="main">
  <!-- メインコンテンツ  -->
  <main class="contents">
    <div class="contents-title">
      <span>転送設定</span>
    </div>
    <form method="POST" id="filter_fields">
      <div class="ErrorMessage"><<MESSAGE>></div>
      <!-- メールフィルタ機能開始 -->
      <div id="main" class="main">
      <div class="form-container">
        <div class="forward-title">
          <span>条件</span>
          <span>削除</span>
        </div>
        <!-- 各ルール開始 -->
<<LOOP_START>>
        <div class="form-group">
          <div class="forward-label form-radio">
            <input type="hidden" name="id[<<FILTER_ID>>]" value="<<FILTER_ID>>">
            <label>
              <input type="radio" name="transfer_rule<<FILTER_ID>>" value="0" <<ALL_FORWARD>>>
              <span>全て転送</span>
              <!-- delete -->
              <button class="forward-delete-button" onclick="confirmDelete('delete', '<<FILTER_ID>>')">
                <img src="../../images/mailfilter_trash_can.jpg" alt="削除">
              </button>
            </label>
            <label>
              <input type="radio" name="transfer_rule<<FILTER_ID>>" value="1" <<DETAIL_FORWARD>>>
              <span>詳細設定</span>
            </label>
            <!-- sender -->
            <label>
            &emsp;<input type="checkbox" name="sender_enable<<FILTER_ID>>" <<FORWARD_CHECK>>>
            <span>送信者</span>
            </label>
            <label>
              <input type="text" class="form-text" name="sender<<FILTER_ID>>" value="<<FORWARD_TEXT>>" maxlength="128">
              <select name="sender_option<<FILTER_ID>>">
                <option value='0' <<FORWARD_MATCH>>>と一致する</option>
                <option value='1' <<FORWARD_INCLUDE>>>を含む</option>
                <option value='2' <<FORWARD_NOT_INC>>>を含まない</option>
                <option value='3' <<FORWARD_EMPTY>>>が空である</option>
              </select>
            </label>
            <br>
            <!-- subject -->
            <label>
              &emsp;<input type="checkbox" name="subject_enable<<FILTER_ID>>" <<SUBJECT_CHECK>>>
              <span>件名</span>
            </label>
            <label>
              <input type="text" class="form-text" name="subject<<FILTER_ID>>" value="<<SUBJECT_TEXT>>" maxlength="128">
            <select name="subject_option<<FILTER_ID>>">
                <option value='0' <<FORWARD_MATCH>>>と一致する</option>
                <option value='1' <<FORWARD_INCLUDE>>>を含む</option>
                <option value='2' <<FORWARD_NOT_INC>>>を含まない</option>
                <option value='3' <<FORWARD_EMPTY>>>が空である</option>
              </select>
            </label>
            <br>
            <!-- recipient -->
            <label>
              &emsp;<input type="checkbox" name="recipient_enable<<FILTER_ID>>" <<RECIPT_CHECK>>>
              <span>宛先(Cc,To)</span>
            </label>
            <label>
              <input type="text" class="form-text" name="recipient<<FILTER_ID>>" value="<<RECIPT_TEXT>>" maxlength="128">
              <select name="recipient_option<<FILTER_ID>>">
                <option value='0' <<FORWARD_MATCH>>>と一致する</option>
                <option value='1' <<FORWARD_INCLUDE>>>を含む</option>
                <option value='2' <<FORWARD_NOT_INC>>>を含まない</option>
                <option value='3' <<FORWARD_EMPTY>>>が空である</option>
              </select>
            </label>
            <br>
          </div>    
        </div>
        <div class="form-group">
          <div class="forward-label form-radio">
            <label>&emsp;転送先</label>
            <label class="horizontal-item">
              <input type="text" class="form-text" name="forward_address<<FILTER_ID>>" value="<<TRANSFER_ADDR>>" maxlength="128">
              <div class="vertical-item">
                <span>サーバにメールを</span>
                <select name="save<<FILTER_ID>>">
                  <option value='0' <<MAIL_LEAVE>>>残す</option>
                  <option value='1' <<MAIL_DEL>>>残さない</option>
                </select>
              </div>
            </label>
          </div>
        </div>
        <!-- 各ルール終了 -->
<<LOOP_END>>
        <!-- ボタン -->
        <div class="form-button">
          <button type="submit" name="modify" value="">更新</button>
          <input id="filterId" type="hidden" name="filterId" value="">
          <input id="buttonName" type="hidden" name="buttonName" value="">
          <<SK>>
        </div>
      </div>
    </form>
    <!-- start updateFiltersForm form -->
    <form id="updateFiltersForm" method="post">
      <<SK>>
      <input id="buttonName" type="hidden" name="buttonName" value="">
    </form>
    <!-- end updateFiltersForm form -->
  </main>
</div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>

</html>
