<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../../../css/style.css">
</head>

<body>
<!-- ヘッダー  -->
<header>
  <!-- メニューリンク  -->
  <nav class="header-nav">
    <div id="gmenu" class="navbar">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <ul class="navbar-nav">
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../logout.php')" class="nav-link">ログアウト</a></li>
      </ul>
    </div>
  </nav>

  <nav class="navbar-hum">
    <input type="checkbox" id="menu-toggle" class="navbar-hum-toggle">
    <div class="navbar-hum-image">
      <!-- ロゴ画像  -->
      <div class="logo-image"></div>
      <label for="menu-toggle" class="navbar-hum-icon">
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
        <span class="navbar-hum-bar"></span>
      </label>
    </div>
    <div class="nabvar-hum-menu">
      <ul>
        <<START_TAB>>
        <li class="nav-item <<ACTIVE>>"><a href="#" onClick="dgpSubmit('<<URL>>')" class="nav-link"><span class="nav-icon"></span><<NAME>></a></li>
        <<END_TAB>>
        <li class="nav-item"><a href="#" onClick="dgpSubmit('../../logout.php')" class="nav-link"><span class="nav-icon"></span>ログアウト</a></li>
      </ul>
    </div>
  </nav>
</header>

<div class="container-fluid">
  <!-- 左グリッド  -->
  <div class="row">
    <!-- 左ナビゲーションバー -->
    <nav class="aside col-sm-2 col-sm-offset-1">
      <div class="panel panel-default">
        <ul class="list-group">
<<START_MENU>>
<a class="list-group-item  <<ACTIVE>>" href="#"	onClick="dgpSubmit('<<URL>>')"><<NAME>></a>
<<END_MENU>>
        </ul>
      </div>
    </nav>

<!-- フッター下のサイドメニューとコンテンツ  -->
<div class="main">
  <!-- メインコンテンツ  -->
  <main class="contents">
    <div class="contents-title">
      <span>ユーザアカウント編集</span>
    </div>
    <form method="POST" action="index.php" name="mod_form">
      <div class="ErrorMessage"><<MESSAGE>></div>
      <div class="form-container">
        <div class="form-group">
          <label class="form-label" for="user">ユーザID</label>
          <span class="form-input"><<UID>></span>
        </div>
        <<FORWARD_START>>
        <div class="form-group">
          <label class="form-label" for="user">メール転送アドレス</label>
          <input class="form-input form-text" type="text" id="user" placeholder="" name="trans" value="<<TRANSFERADDR>>" maxlength="256" onBlur="check(this.value)">
        </div>
        <div class="form-group">
          <label class="form-label">転送時のメール保存</label>
          <div class="form-input form-radio">
            <label><input type="radio" name="save" value="0" <<SAVEMAILENABLED>>>保存する</label>
            <label><input type="radio" name="save" value="1" <<SAVEMAILDISABLED>>>保存しない</label>
          </div>
        </div>
        <<FORWARD_END>>
      </div>
      <<SK>>
      <!-- ボタン -->
      <div class="form-button">
        <button type="submit" name="modify" value="" class="btn btn-primary">更新</button>
      </div>
    </form>
  </main>
</div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <<SK>>
</form>

</body>
</html>
