<!DOCTYPE html>
<html lang="ja">
<head>
  <title><<TITLE>></title>
  <<JAVASCRIPT>>
  <meta charset="EUC-JP">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
<!-- ヘッダー  -->
<header>
  <!-- ロゴ画像  -->
  <div class="logo-header">
    <div class="logo-image"></div>
  </div>
</header>

<!-- 全体 -->
<div class="auth-container">
  <div class="auth-form">
    <h3 class="auth-title">ログイン</h3>
    <form class="auth-content" method="POST" action="index.php" name="acc_mod_mf">
      <div class="ErrorMessage"><<MESSAGE>></div>
      <div class="auth-group">
        <div class="auth-input">
          <label for="user">ユーザID</label>
          <input type="text" id="user" size="26" name="user">
        </div>
        <div class="auth-input">
          <label for="user">パスワード</label>
          <input type="password" id="user" placeholder="" name="passwd">
        </div>
      </div>
      <!-- ボタン -->
      <button type="submit" value="" name="login">ログイン</button>
    </form>
  </div>
</div>

<footer>
  <div class="logo-footer">
    <div class="logo-image"></div>
  </div>
</footer>

<form method="post" name="common">
  <input type="hidden" name="sk" value="">
</form>

</body>
</html>
